/* ------------------------ LARGER SCREENS ----------------- */
@media only screen and (min-width: 1025px) {

  /* BASE */
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eef6ea;
    color: #333;
  }

  /* HEADER */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  header span,
  .header-container span {
    font-size: 1.4rem;
    font-weight: bold;
    white-space: nowrap;
  }

  /* HAMBURGER */
  .hamburger {
    display: none;
  }

  /* NAVIGATION */
  .navigation {
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    width: 100%;
    margin: 10px;
  }

  .navigation ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }

  .navigation li {
    width: auto;
    border: none;
  }

  .navigation a {
    color: #512769;
    font-size: large;
    font-weight: bold;
  }

  .navigation a:hover {
    text-decoration: underline wavy;
    color: #fff;
    border-radius: 4px;
  }

  .navigation li.current a {
    font-weight: bold;
    color: #d67cad;
    border: none;
  }

  /* HERO */
  .hero img {
    display: block;
  }

  .choice {
    margin: 1rem 0 0 7rem;
  }
  /* EVENTS */
  .events {
    background-color: #6a916a70;
    border-radius: 8px;
    max-width: 1000px;
    padding: 2rem;
    margin-top: 3rem;
    margin-left: 10px;
  }

  .events li{
    font-weight: bolder;
    line-height: 2rem;
  }
  /* WEATHER */
  .weather {
    float: right;
    margin-top: -18rem;
    width: 200px;
  }

  /* SPOTLIGHTS */
  #spotlight-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  /* DIRECTORY */
  .d-detail.grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .d-detail.list .member-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    align-items: center;
  }

  .d-detail.list img {
    max-width: 140px;
  }

  

  .join-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    align-items: start;
  }

  .membership-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #discover-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
   gap: 1rem;
  }

   .card img {
    transition: transform 0.3s ease, filter 0.3s ease;
  }

  .card img:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
  }

  /* FOOTER */
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: rgb(0, 0, 0);
    border: 1px solid #845c9b;
    background-color: #9b66b9;
    padding: 1rem;
    margin-top: 5px;
  }

  .socialmedia a {
    margin-top: 1rem;
    width: 80px;
    height: 80px;
  }
}
