@media (min-width: 641px) {


  #discover-container .card {
    grid-template-areas:
      "pic name"
      "pic address"
      "pic description";
    align-items: start;
  }

  #discover-container .card img {
    width: 100%;
    height: auto;
  }

 .card img {
    transition: transform 0.3s ease, filter 0.3s ease;
  }

  .card img:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
  }

}



